<!-- //py for padding in y axis bootstrap property -->
<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-white-50"> &copy; CampExplorer 2025</span>
  </div>
</footer>
