<script
  src="https://kit.fontawesome.com/6acd34060b.js"
  crossorigin="anonymous"
></script>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/campgrounds">CampExplorer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Search and Links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">New Campgrounds</a>
      </div>

      <!-- Search Form (responsive) -->
      <form
        class="d-flex my-2 my-lg-0"
        action="/campgrounds"
        method="GET"
        style="width: 100%; max-width: 400px"
      >
        <input
          class="form-control me-2"
          type="search"
          name="q"
          placeholder="Search campgrounds..."
          aria-label="Search"
          value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>"
        />
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>

      <div class="navbar-nav ms-lg-3 mt-2 mt-lg-0">
        <% if(!currentUser){ %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% }else{ %>
        <span class="navbar-text text-light me-2">
          Welcome, <%= currentUser.name || currentUser.email %>
        </span>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
